.task-title {
    display: flex;
    border-radius: 0.25rem;
    align-items: center;


    .taskType_boder {
        display: flex;
        border: 1px solid #ced4da;
        align-items: center;
        border-radius: 7px;
    }

    select {
        background: none;
        border: none;

        &:focus {
            box-shadow: none;
        }
    }
}
.delete-btn{
    
    border: none;
    outline: none;
    &:focus
    {
        border: none;
        outline: none;
    }
}
.add-btn {
    border-radius: 10px !important;
    width: 60%;
}
.ant-modal {
    width: 88% !important;
    min-width: 980px;
}
.modal-header{
    margin: 0 1.2rem ;
}